// Colors
$primary-color: #f4be44;
$secondary-color: #ffd166;
$text-color: #f4be44;
$background-color: #0b1b24;
$light-gray: #1a1a1a;
$dark-gray: #212121;
$white: #fff;

// Typography
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Island Moments', cursive;
$font-size-base: 16px;
$line-height-base: 1.5;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Container
$container-max-width: 1200px;
$container-padding: 15px;